h1{
    text-align: center;
    background-color: coral;
}

h2{
    flex-wrap: wrap;
    background-color: beige;
}

h3{
    text-align: center;
    flex-wrap: wrap;
}

body{
    background: #00aec7;
}