p{
    text-align: center;
    text-decoration: underline;
    font-family: papyrus, cursive;
    font-size: 30px;
}

h1{
    text-align: center;
    background-color: coral;
}

h2{
    flex-wrap: wrap;
    background-color: brown;
    text-align: center;
}

h3{
    text-align: left;
    flex-wrap: wrap; 
}

body{
    background: #00aec7;
}

header nav{
  background: black;
}

header li {
  display: inline-block;
  list-style: none;
  height: 50px;
  width: 100px;
  text-align: center;
  flex-wrap: wrap;
  }

header a:link,
header a:visited {
  background: #000;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 50px;  
  
  width: 50px;
  height: px;
  display: inline;
  
  transition: background .5s .3s;
}

header a:hover {
  background: red;
}

form {
  background: #dbbd98;
  padding: 2em;
  width: 30%;
}

input {
  display: block;
}

input[type="text"] {
  background: white;
  border: 1;
  border-radius: 20px;
  color: black;
  margin: 1em 5em 1em;
  padding: .6em;
}

input[type="text"]:focus {
  /*  override  */
  outline: 0;
  background: orange;
}

label {
  font-family: 'papyrus', cursive;
  font-size: 2em;
}

input[type="submit"] {
  background: orange;
  border: dotted;
  border-radius: 20px;
  font-family: 'papyrus', cursive;
  padding: 15px;

  display: block;
  margin: 0 auto; 
  
}

input[type="submit"]:hover {
  background-color: brown;
}

input[type="submit"]:active {
  background: #333;
}

/* Card with Thumb, Title, Description */
figure{
  background-color: brown;
  margin: 10;
  padding: 1em;
  width: 12em;
  display: inline-block;
}

/* Fullsize Overlay/Lightbox/Modal */
/* Hide it */
.overlay{  
  display: none;


/* Overlay Styling */
background: rgba(855,200,10,.25);
  
position: absolute;
height: 100%;
width: 100%;  
top:0;
left:0;
}

/* Show it */
.overlay:target {
  display: block;
    
/* Contents of Overlay */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  min-height: 50vh;
  
/*  Animation  */
  animation: fadeish 1s;
  
}

/* EXTRA STYLING */
.overlay img {
  border: 10px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 20px #333;
}

@keyframes fadeish {
  0% { 
    opacity: 0;
    transform: scale(0);
  }
  
  100% { 
    opacity: 1;
    transform: scale(1);
  }
}